<div class="row" th:fragment="content">
    <blockquote>
    <blockquote>
        <p><b>Метод Борда</b></p>

        <p>Метод Борда (правило Борда) — система голосования, предложенная в 1770 году Жан-Шарлем де Борда с целью более тщательного учёта
            предпочтений выборщиков в условиях множества кандидатов. Широко используется и в современности.</p>

        <p>Согласно этому методу результаты голосования выражаются в виде числа баллов, набранных каждым из кандидатов. Так, при выборах из
            n кандидатов каждый голосующий ранжирует всех кандидатов строго по убыванию предпочтения, за первое место по предпочтению
            кандидату присуждается n баллов, за второе — n-1 баллов и т. д. (за последнее место — 1 балл), все
            набранные баллы кандидатами суммируются. Соответственно, победителем выборов считается кандидат, набравший наивысший суммарный балл. </p>
    </blockquote>
</blockquote>
<div class="col-md-4 col-md-offset-2">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th> Results</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mark : ${res.totalRes}">
                <td>
                    <span th:text="${mark.key.name}"></span>
                    <span>: </span>
                    <span th:text="${mark.value}"></span>
                </td>
            </tr>
            </tbody>
        </table>

    <div>
        <b>
            <span>Winner </span>
            <span th:text="${res.winner.name}"></span>
            <span> with </span>
            <span th:text="${res.points}"></span>
            <span> points </span>
        </b>
    </div>
</div>
<div class="col-md-6">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th> Marks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voting : ${res.votingRes}">
            <td>
                <span th:text="${voting.key.name}"></span>
                <span>: </span>
                <span th:each="vote : ${voting.value}" th:text="${vote.key.name} + ':' + ${vote.value} + ';'"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>